.fill,
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.box {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;
}

.drop-zones {
  position: relative;
  width: 100%;
  height: 100%;
  /* margin: 3px; */
}

.drop-zone-trigger {
  position: absolute;
  z-index: 10;
}

.drop-zone {
  position: absolute;
  background: grey;
  opacity: 0.3;
}

.drop-zone.left {
  left: 0;
  top: 0;
  bottom: 0;
  width: 40%;
  max-width: 400px;
}

.drop-zone.right {
  right: 0;
  top: 0;
  bottom: 0;
  width: 40%;
  max-width: 400px;
}

.drop-zone.top {
  right: 0;
  top: 0;
  left: 0;
  height: 40%;
  max-height: 400px;
}

.drop-zone.bottom {
  right: 0;
  bottom: 0;
  left: 0;
  height: 40%;
  max-height: 400px;
}

.drop-zone-trigger.left {
  left: 0;
  width: 5px;
  top: 11px;
  bottom: 11px;
}

.drop-zone-trigger.right {
  right: 0;
  width: 5px;
  top: 11px;
  bottom: 11px;
}

.drop-zone-trigger.top {
  left: 11px;
  height: 5px;
  top: 0;
  right: 11px;
}

.drop-zone-trigger.bottom {
  left: 11px;
  height: 5px;
  bottom: 0;
  right: 11px;
}

.box.horizontal {
  flex-direction: row;
}

.box.vertical {
  flex-direction: column;
}

.views-container {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
}

.views-container.dnd-active {
  border: 1px solid #555;
  opacity: 0.7;
}

.dragging-view {
  width: 30px;
  height: 30px;
}
