.fill,
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.box {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;
}

.dz-trigger {
  position: absolute;
  z-index: 10;
  opacity: 0.4;
}

.dz-trigger.left,
.dz-trigger.right {
  width: 10px;
  top: 11px;
  bottom: 11px;
}

.dz-trigger.top,
.dz-trigger.bottom {
  left: 11px;
  height: 10px;
  right: 11px;
}

.dz-trigger.left {
  left: 0;
}

.dz-trigger.right {
  right: 0;
}

.dz-trigger.top {
  top: 0;
}

.dz-trigger.bottom {
  bottom: 0;
}

.dz-trigger.over {
  left: 11px;
  height: 5px;
  top: 10px;
  right: 11px;
}

.drop-zone {
  position: absolute;
  background: grey;
  opacity: 0.6;
}

.drop-zone.over {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.drop-zone.left {
  left: 0;
  top: 0;
  bottom: 0;
  width: 40%;
  max-width: 400px;
}

.drop-zone.right {
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  /* max-width: 400px; */
}

.drop-zone.top,
.drop-zone.bottom {
  right: 0;
  left: 0;
  height: 50%;
  /* max-height: 400px; */
}

.drop-zone.top {
  top: 0;
}

.drop-zone.bottom {
  bottom: 0;
}

∆ .box.horizontal {
  flex-direction: row;
}

.box.vertical {
  flex-direction: column;
}

.views-container {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.view-wrapper {
  flex-grow: 1;
  display: flex;
}

.view-wrapper > div {
  flex-grow: 1;
}

.rd-frame-header {
  border-radius: 5px;
  background: #eee;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  height: 18px;
  padding: 5px 5px 3px 5px;
}

.rd-frame-header > button {
  font-size: 11px;
  font-family: sans-serif;
  position: absolute;
  right: 3px;
  border: none;
}

.rd-frame-footer {
  font-size: 12px;
  display: flex;
  height: 16px;
  padding: 2px 5px;
}
