/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  /* background: lightsteelblue; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#actions {
  padding: 15px;
  font-size: 10px;
}

#desktop {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
}
