/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
#example {
  display: flex;
  flex-direction: column;
}

#example,
#desktop {
  flex: 1;
  min-height: 0;
  display: flex;
}

#examples {
  display: flex;
  gap: 16px;
  padding: 8px 15px;
  font-size: 13px;
}

#examples a {
  color: #444;
  text-decoration: none;
}

#examples a.active {
  font-weight: bold;
}

#actions {
  padding: 0 15px 8px;
  font-size: 10px;
}

/* Custom look and feel */

.tabs {
  display: flex;
  gap: 2px;
  padding: 2px;
  background: #ddd;
  cursor: move;
  font-size: 12px;
}

.tabs .tab {
  padding: 1px 6px;
  border-radius: 3px;
  background: #eee;
}

.tabs .tab.active {
  font-weight: bold;
  background: white;
}

.tabs .close {
  margin-left: 4px;
  cursor: pointer;
}

.views-container.dragging {
  opacity: 0.4;
}
